html {
    height: 100%;
}
body {
    background: #161616;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
}

.container {
    height: 100%;
    width:100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.component-container {
    margin: 0 20px 0 50px;
    background: #252524;
    width: 100%;
    height: 95%;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.3);
}

.menu {
    display: flex;
    width: 180px;
    height: 100%;
    background: black;
    box-shadow: 10px 0 10px 0 black;
    color: #FFF;
    flex-direction: column;

}

.menu-img {
    max-width: 100px;
    margin:0 0 20px 30px;
    position: absolute;
    bottom: 0;
}

.menu-list {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 50px 0 0;
    padding: 0;
}

.menu-link {
    width: 100%;
    height: auto;
    padding: 20px 0 20px 20px;
    border-left: none;
    opacity: 20%;
    cursor: pointer;
    text-decoration: none;
    color: #FFF;
}

.menu-link:hover {
    border-left: 8px solid #520F0F;
    opacity: 90%;
}

.menu-link-active {
    border-left: 8px solid #520F0F;
    opacity: 100%;
    background: #161616;
    box-shadow: 10px 0 10px 0 black;
}

.title {
    color: #8E8C8B;
    margin-left: 20px;
}

.content {
    background: #8E8C8B;
    margin-left: 20px;
    margin-right: 20px;
    height: 85%;
    padding: 10px;
    box-shadow: 0 0 5px 5px rgba(80,0,0,0.2);
    color: #FFF;
}

